@{
    ViewData["Title"] = "Home Page";
}

<div class="row justify-content-center">

    <div class="col-10">

        <div class="alert alert-info" role="alert">
            Employee CRUD
        </div>

        <button type="button" class="btn btn-success btn-sm btn-new-employee"> New Employee</button>

        <table class="table table-striped" id="employeesTable">
            <thead>
                <tr>
                    <td>Full name</td>
                    <td>Department</td>
                    <td>Salary</td>
                    <td>Contract date</td>
                </tr>
            </thead>

            <tbody>

            </tbody>

        </table>

    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="employeeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Employee Modal</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">                 
          <div class="mb-3">
            <label class="form-label">Full name</label>
            <input type="text" class="form-control" id="txtName" autocomplete="off">
          </div>
          <div class="mb-3">
            <label class="form-label">Department</label>
            <input class="form-select" id="selectDepartment">
          </div>
          <div class="mb-3">
            <label class="form-label">Salary</label>
            <input type="number" class="form-control" id="numSalary">
          </div>
          <div class="mb-3">
            <label class="form-label">Contract date</label>
            <input type="text" class="form-control" id="txtContractDate">
          </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary btn-save-changes">Save changes</button>
      </div>

    </div>
  </div>
</div>

@section Scripts {
    <script src="~/js/index.js"></script>
}